#status-bar {
  display: flex;
  width:50%;
  text-align:center;
}

#services {
  flex-grow:3;
  display:flex;
}

#time {
  flex-grow: 5;
  display:flex;
}

#status {
  flex-grow: 3;
  display:flex;
}

